//Login.jsx
.loginBox{
  margin: 0 auto;
  width:100%;
  max-width: 430px;
  border:1px solid black;
  .login{
    margin-left: 2rem;
    margin-bottom: 8rem;
    margin-top: 2rem;
  }
  .naverLogin {
    width:100%;
    max-width: 300px;
    border-radius: 15px;
    height: 40px;
    color:#00E690;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
  }  
  .kakaoLogin {
    width:100%;
    max-width: 300px;
    border-radius: 15px;
    height: 40px;
    color:#00E690;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10rem;
  }  
}
