//reset

body {
    width: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,

b, u, i, center,input,textarea,

dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 62.5%; */
    /* font: inherit; */
    box-sizing: border-box;
    vertical-align: baseline;
}
  /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
list-style: none;
}
blockquote, q {
    quotes: none;
}


// color

$PM-tone-5: #141614;
$PM-tone-4:#4e4f4e;
$PM-tone-3:#888988;
$PM-tone-2:#c1c2c1;
$PM-tone-1:#fbfbfb;

$PM-blue: #8eb6f9;
$PM-green: #00E690;
$PM-lime:#D6F470;
$PM-orange: #ffab45;
$PM-pink:#f194e1;
$PM-red:#ff3e55;

//font

@mixin headLine-b{
    font-size: 25px;
    font-weight: 900;
}

@mixin subtit-b{
    font-size: 20px;
    font-weight: 800;
}

@mixin body-b{
    font-size: 16px;
    font-weight: 700;
}

@mixin caption-b{
    font-size: 12px;
    font-weight: 700;
}

@mixin headline-l {
    font-size: 25px;
    font-weight: 400;
}
@mixin subtit-l {
    font-size: 20px;
    font-weight: 400;
}
@mixin body-l {
    font-size: 16px;
    font-weight: 300;
}
@mixin caption-l {
    font-size: 12px;
    font-weight: 300;
    
}