//Signup.jsx
.signupBox{
  margin: 0 auto;
  width:100%;
  max-width: 430px;
  border:1px solid black;
  .sign{
    margin: auto;
    text-align: center;
    color: #00E690;
    font-size: 25px;
    font-weight: 900; 
    margin-bottom: 5rem;
  }
  .inputBox{
    width: 90%;
    margin: auto;
    .emailInput{
      display: flex;
      .certBut{
        width: 27%;
        margin-left: 1rem;
        border-radius: 15px;
        border: 3px solid #00E690;
        background-color: #fff;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
    }
    .signTitle{
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .signInput{
      font-size: 15px;
      font-weight: 700;
      height: 40px;
      width: 98%;
      border-radius: 10px;
      text-align: center;
      color: #4e4f4e;
      border: 2px solid #4e4f4e;
      margin-bottom: 1.5rem;
    }
    .butDiv{
      display: flex;
      justify-content: center;
      margin-top: 7rem;
      margin-bottom: 5rem;
      height: 40px;
      .signBut{
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        border: 0;
        border: 2px solid #00E690;
        background-color: #00E690;
        color: #fbfbfb;
        margin-right: 2rem;
        width: 100%;
        cursor: pointer;
      }
      .cancelBit{
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        border: 2px solid #00E690;
        background-color: #fff;
        width: 100%;
        cursor: pointer;
      }
    }
  }  
}
  

