//FirstLogin.jsx
.box{
  margin: 0 auto;
  width:100%;
  max-width: 430px;
  border:1px solid black;
  .login{
    margin-left: 2rem;
    margin-bottom: 10rem;
    margin-top: 2rem;
    color: #141614;
    font-size: 20px;
    font-weight: 800;
  }
  .userinfo{
    color: #4e4f4e;
    font-size: 16px;
    font-weight: 700;
    .nickname{
      width: 100%;
      max-width: 374px;
      height: 3rem;
      border: 2px solid #4e4f4e;
      border-radius: 10px;
      display: block;
      justify-content: center;
      margin: auto;
      text-align: center;
      margin-bottom: 2rem;
    }
    .userlocation{
      width: 100%;
      max-width: 374px;
      height: 3rem;
      border: 2px solid #4e4f4e;
      border-radius: 10px;
      display: block;
      justify-content: center;
      margin: auto;
      text-align: center;
      margin-bottom: 15rem;
    }
  }
  .nextButton{
    font-size: 16px;
    font-weight: 700;
    color: #fbfbfb;
    width: 100%;
    max-width: 300px;
    background-color: #00E690;
    border: 0px;
    height: 3rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
  }
}

//PetInfo.jsx
.petinfo{
  color: #4e4f4e;
  font-size: 16px;
  font-weight: 700;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } 
  .defaultImg{
    max-width: 200px;
    height: 200px;
    // height: 100%;
    width: 100%;
    border: 5px solid #00E690;
    border-radius: 50%;
    margin: auto;
    display: flex;
    margin-top: -3rem;
  }
  .petImageText{
    margin: auto;
    text-align: center;
    border: 2px solid #00E690;
    max-width: 160px;
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .petImage{
    display: none;
  }
  .petKind{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .dogKind{
      background-color: #fff;
      border: 2px solid #00E690;
      width: 100%;
      margin-right: 2rem;
      max-width: 7rem;
      height: 50px;
      border-radius: 15px;
    }
    .dogSelect{
      background-color: #00E690;
      border: 2px solid #00E690;
      width: 100%;
      max-width: 7rem;
      margin-right: 2rem;
      height: 50px;
      border-radius: 15px;
    }
    .catKind{
      background-color: #fff;
      border: 2px solid #00E690;
      width: 100%;
      max-width: 7rem;
      height: 50px;
      border-radius: 15px;
    }
    .catSelect{
      background-color: #00E690;
      border: 2px solid #00E690;
      width: 100%;
      max-width: 7rem;
      height: 50px;
      border-radius: 15px;
    }
  }

  .petAge{
    width: 100%;
    max-width: 374px;
    height: 3rem;
    border: 2px solid #4e4f4e;
    border-radius: 10px;
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 700;
  }
  .petWeight{
    width: 100%;
    max-width: 374px;
    height: 3rem;
    border: 2px solid #4e4f4e;
    border-radius: 10px;
    display: block;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-bottom: 11rem;
    font-size: 16px;
    font-weight: 700;
  }
}
.clearButton{
  font-size: 16px;
  font-weight: 700;
  color: #fbfbfb;
  width: 100%;
  max-width: 300px;
  background-color: #00E690;
  border: 0px;
  height: 3rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
}
